In [1]:
import pandas as pd

df = pd.read_csv('Superstore.csv', encoding='latin-1')

In [2]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,09-11-2013,12-11-2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2013-152156,09-11-2013,12-11-2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2013-138688,13-06-2013,17-06-2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2012-108966,11-10-2012,18-10-2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2012-108966,11-10-2012,18-10-2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [3]:
df.info

<bound method DataFrame.info of       Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
0          1  CA-2013-152156  09-11-2013  12-11-2013    Second Class
1          2  CA-2013-152156  09-11-2013  12-11-2013    Second Class
2          3  CA-2013-138688  13-06-2013  17-06-2013    Second Class
3          4  US-2012-108966  11-10-2012  18-10-2012  Standard Class
4          5  US-2012-108966  11-10-2012  18-10-2012  Standard Class
...      ...             ...         ...         ...             ...
9989    9990  CA-2011-110422  22-01-2011  24-01-2011    Second Class
9990    9991  CA-2014-121258  27-02-2014  04-03-2014  Standard Class
9991    9992  CA-2014-121258  27-02-2014  04-03-2014  Standard Class
9992    9993  CA-2014-121258  27-02-2014  04-03-2014  Standard Class
9993    9994  CA-2014-119914  05-05-2014  10-05-2014    Second Class

     Customer ID     Customer Name    Segment        Country             City  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

      ... Postal Code  Region       Product ID         Category Sub-Category  \
0     ...       42420   South  FUR-BO-10001798        Furniture    Bookcases
1     ...       42420   South  FUR-CH-10000454        Furniture       Chairs
2     ...       90036    West  OFF-LA-10000240  Office Supplies       Labels
3     ...       33311   South  FUR-TA-10000577        Furniture       Tables
4     ...       33311   South  OFF-ST-10000760  Office Supplies      Storage
...   ...         ...     ...              ...              ...          ...
9989  ...       33180   South  FUR-FU-10001889        Furniture  Furnishings
9990  ...       92627    West  FUR-FU-10000747        Furniture  Furnishings
9991  ...       92627    West  TEC-PH-10003645       Technology       Phones
9992  ...       92627    West  OFF-PA-10004041  Office Supplies        Paper
9993  ...       92683    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales  Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[9994 rows x 21 columns]>

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [5]:
df['Ship Date'] = pd.to_datetime(df['Ship Date'], format="%d-%m-%Y")

In [6]:
df['Order Date'] = pd.to_datetime(df['Order Date'], format="%d-%m-%Y")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [8]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

In [9]:
df.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'sub-category',
       'product_name', 'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

In [10]:
df.isnull().sum()

row_id           0
order_id         0
order_date       0
ship_date        0
ship_mode        0
customer_id      0
customer_name    0
segment          0
country          0
city             0
state            0
postal_code      0
region           0
product_id       0
category         0
sub-category     0
product_name     0
sales            0
quantity         0
discount         0
profit           0
dtype: int64

In [11]:
df.duplicated().sum()

np.int64(0)

In [12]:
duplicate_subset = df.duplicated(subset=['order_id', 'product_id', 'customer_id']).sum()

print(duplicate_subset)

8

In [13]:
duplicates = df.duplicated(subset=['order_id', 'product_id', 'customer_id'], keep=False)
print(df[duplicates])

      row_id        order_id order_date  ship_date       ship_mode  \
350      351  CA-2013-129714 2013-09-02 2013-09-04     First Class
352      353  CA-2013-129714 2013-09-02 2013-09-04     First Class
430      431  US-2013-123750 2013-04-16 2013-04-22  Standard Class
431      432  US-2013-123750 2013-04-16 2013-04-22  Standard Class
1300    1301  CA-2013-137043 2013-12-24 2013-12-26    Second Class
1301    1302  CA-2013-137043 2013-12-24 2013-12-26    Second Class
3183    3184  CA-2014-152912 2014-11-10 2014-11-13    Second Class
3184    3185  CA-2014-152912 2014-11-10 2014-11-13    Second Class
3405    3406  US-2011-150119 2011-04-23 2011-04-27  Standard Class
3406    3407  US-2011-150119 2011-04-23 2011-04-27  Standard Class
6498    6499  CA-2012-103135 2012-07-24 2012-07-28  Standard Class
6500    6501  CA-2012-103135 2012-07-24 2012-07-28  Standard Class
7881    7882  CA-2014-118017 2014-12-04 2014-12-07    Second Class
7882    7883  CA-2014-118017 2014-12-04 2014-12-07    Second Class
9168    9169  CA-2013-140571 2013-03-16 2013-03-20  Standard Class
9169    9170  CA-2013-140571 2013-03-16 2013-03-20  Standard Class

     customer_id    customer_name      segment        country           city  \
350     AB-10060  Adam Bellavance  Home Office  United States  New York City
352     AB-10060  Adam Bellavance  Home Office  United States  New York City
430     RB-19795       Ross Baird  Home Office  United States       Gastonia
431     RB-19795       Ross Baird  Home Office  United States       Gastonia
1300    LC-17140     Logan Currie     Consumer  United States    Springfield
1301    LC-17140     Logan Currie     Consumer  United States    Springfield
3183    BM-11650       Brian Moss    Corporate  United States       Columbia
3184    BM-11650       Brian Moss    Corporate  United States       Columbia
3405    LB-16795   Laurel Beltran  Home Office  United States       Columbus
3406    LB-16795   Laurel Beltran  Home Office  United States       Columbus
6498    SS-20515  Shirley Schmidt  Home Office  United States     Louisville
6500    SS-20515  Shirley Schmidt  Home Office  United States     Louisville
7881    LC-16870    Lena Cacioppo     Consumer  United States       Thornton
7882    LC-16870    Lena Cacioppo     Consumer  United States       Thornton
9168    SJ-20125    Sanjit Jacobs  Home Office  United States        Jackson
9169    SJ-20125    Sanjit Jacobs  Home Office  United States        Jackson

      ... postal_code  region       product_id         category sub-category  \
350   ...       10009    East  OFF-PA-10001970  Office Supplies        Paper
352   ...       10009    East  OFF-PA-10001970  Office Supplies        Paper
430   ...       28052   South  TEC-AC-10004659       Technology  Accessories
431   ...       28052   South  TEC-AC-10004659       Technology  Accessories
1300  ...       22153   South  FUR-FU-10003664        Furniture  Furnishings
1301  ...       22153   South  FUR-FU-10003664        Furniture  Furnishings
3183  ...       21044    East  OFF-ST-10003208  Office Supplies      Storage
3184  ...       21044    East  OFF-ST-10003208  Office Supplies      Storage
3405  ...       43229    East  FUR-CH-10002965        Furniture       Chairs
3406  ...       43229    East  FUR-CH-10002965        Furniture       Chairs
6498  ...       40214   South  OFF-BI-10000069  Office Supplies      Binders
6500  ...       40214   South  OFF-BI-10000069  Office Supplies      Binders
7881  ...       80229    West  TEC-AC-10002006       Technology  Accessories
7882  ...       80229    West  TEC-AC-10002006       Technology  Accessories
9168  ...       39212   South  OFF-PA-10001954  Office Supplies        Paper
9169  ...       39212   South  OFF-PA-10001954  Office Supplies        Paper

                                           product_name     sales  quantity  \
350                                          Xerox 1881    24.560         2
352                                          Xerox 1881    49.120         4
430   Imation Secure+ Hardware Encrypted USB 2.0 Fla...   408.744         7
431   Imation Secure+ Hardware Encrypted USB 2.0 Fla...   291.960         5
1300  Electrix Architect's Clamp-On Swing Arm Lamp, ...   572.760         6
1301  Electrix Architect's Clamp-On Swing Arm Lamp, ...   286.380         3
3183                 Adjustable Depth Letter/Legal Cart  1633.140         9
3184                 Adjustable Depth Letter/Legal Cart   544.380         3
3405  Global Leather Highback Executive Chair with P...   281.372         2
3406  Global Leather Highback Executive Chair with P...   281.372         2
6498  GBC Prepunched Paper, 19-Hole, for Binding Sys...   135.090         9
6500  GBC Prepunched Paper, 19-Hole, for Binding Sys...    90.060         6
7881                   Memorex Micro Travel Drive 16 GB    76.752         6
7882                   Memorex Micro Travel Drive 16 GB   102.336         8
9168                                         Xerox 1964   319.760        14
9169                                         Xerox 1964    45.680         2

      discount    profit
350        0.0   11.5432
352        0.0   23.0864
430        0.2   76.6395
431        0.2   54.7425
1300       0.0  166.1004
1301       0.0   83.0502
3183       0.0  473.6106
3184       0.0  157.8702
3405       0.3  -12.0588
3406       0.3  -12.0588
6498       0.0   62.1414
6500       0.0   41.4276
7881       0.2   10.5534
7882       0.2   14.0712
9168       0.0  147.0896
9169       0.0   21.0128

[16 rows x 21 columns]

In [16]:
aggregated_columns = ['sales', 'quantity', 'discount', 'profit']

id_columns = [col for col in df.columns if col not in aggregated_columns and col != 'row_id']

df_clean = df.groupby(id_columns, as_index=False).sum()

print(f"\nOriginal rows: {len(df)}")
print(f"After aggregation: {len(df_clean)}")
print(f"Rows combined: {len(df) - len(df_clean)}")

Original rows: 9994
After aggregation: 9986
Rows combined: 8

In [17]:
print(df_clean[df_clean['order_id'] == 'CA-2013-140571'])

            order_id order_date  ship_date       ship_mode customer_id  \
4667  CA-2013-140571 2013-03-16 2013-03-20  Standard Class    SJ-20125

      customer_name      segment        country     city        state  ...  \
4667  Sanjit Jacobs  Home Office  United States  Jackson  Mississippi  ...

      region       product_id         category sub-category product_name  \
4667   South  OFF-PA-10001954  Office Supplies        Paper   Xerox 1964

     row_id   sales  quantity  discount    profit
4667  18339  365.44        16       0.0  168.1024

[1 rows x 21 columns]

In [18]:
df.describe(include ='all')

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,postal_code,region,product_id,category,sub-category,product_name,sales,quantity,discount,profit
count,9994.000000,9994,9994,9994,9994,9994,9994,9994,9994,9994,...,9994.000000,9994,9994,9994,9994,9994,9994.000000,9994.000000,9994.000000,9994.000000
unique,NaN,5009,NaN,NaN,4,793,793,3,1,531,...,NaN,4,1862,3,17,1841,NaN,NaN,NaN,NaN
top,NaN,CA-2014-100111,NaN,NaN,Standard Class,WB-21850,William Brown,Consumer,United States,New York City,...,NaN,West,OFF-PA-10001970,Office Supplies,Binders,Staples,NaN,NaN,NaN,NaN
freq,NaN,14,NaN,NaN,5968,37,37,5191,9994,915,...,NaN,3203,19,6026,1523,227,NaN,NaN,NaN,NaN
mean,4997.500000,NaN,2013-04-30 19:20:02.401441024,2013-05-04 18:20:49.229537792,NaN,NaN,NaN,NaN,NaN,NaN,...,55190.379428,NaN,NaN,NaN,NaN,NaN,229.858001,3.789574,0.156203,28.656896
min,1.000000,NaN,2011-01-04 00:00:00,2011-01-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,1040.000000,NaN,NaN,NaN,NaN,NaN,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,NaN,2012-05-23 00:00:00,2012-05-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,23223.000000,NaN,NaN,NaN,NaN,NaN,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,NaN,2013-06-27 00:00:00,2013-06-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,56430.500000,NaN,NaN,NaN,NaN,NaN,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,NaN,2014-05-15 00:00:00,2014-05-19 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,90008.000000,NaN,NaN,NaN,NaN,NaN,209.940000,5.000000,0.200000,29.364000
max,9994.000000,NaN,2014-12-31 00:00:00,2015-01-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,99301.000000,NaN,NaN,NaN,NaN,NaN,22638.480000,14.000000,0.800000,8399.976000
std,2885.163629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32063.693350,NaN,NaN,NaN,NaN,NaN,623.245101,2.225110,0.206452,234.260108

In [20]:
for col in ['sales', 'quantity', 'discount', 'profit']:
    Q1, Q3 = df_clean[col].quantile([0.25, 0.75])
    IQR = Q3 - Q1
    outliers = df_clean[(df_clean[col] < Q1 - 1.5*IQR) | (df_clean[col] > Q3 + 1.5*IQR)]
    print(f"{col}: {len(outliers)} outliers")

sales: 1168 outliers
quantity: 174 outliers
discount: 857 outliers
profit: 1880 outliers

In [21]:
df_clean['order_date'] = pd.to_datetime(df_clean['order_date'])
df_clean['year'] = df_clean['order_date'].dt.year
df_clean['month'] = df_clean['order_date'].dt.month

df_clean['profit_margin'] = (df_clean['profit'] / df_clean['sales']) * 100

df_clean['has_discount'] = df_clean['discount'] > 0

In [22]:
df_clean.to_csv('Superstore_Dataset_cleaned.csv', index=False)